{% extends 'base.html.twig' %}

{% block title %}ajout d'astuce
{% endblock %}


{% block importmap %}
	{{ importmap(['app', 'add-trick']) }}
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Ajouter un astuce</h1>
		<div>
			{{ form_start(trickForm) }}
			{{ form_row(trickForm.title) }}
			{{ form_row(trickForm.content) }}
			{{ form_row(trickForm.featureimage) }}
			<div class="preview">
				<img src="" alt="" width="300"/>
			</div>
			{{ form_row(trickForm.categorie) }}
			{{ form_row(trickForm.keyword) }}
			<button type="submit">Ajouter</button>
			{{ form_end(trickForm) }}
		</div>


	</div>
{% endblock %}
