{% extends 'base.html.twig' %}

{% block title %}Mes astuces
{% endblock %}

{% block body %}

	<section class="trick_wrapper container">
		{% for trick in tricks %}


			<div class="card mb-3">
				<h5 class="card-header">
					{{ trick.title }}</h5>


				<img src="{{ asset('uploads/tricks/mini/200x200-') ~ trick.featureImage }}" alt="{{ trick.title }}">

				<div class="card-body">
					<p class="card-text">{{ trick.content|slice(0, 50) }}...</p>
				</div>
				<ul class="list-group list-group-flush">


					<li class="list-group-item">Auteur :
						{{ trick.user.username }}</li>


				</ul>

				<div class="card-body">

					<a href="#" class="card-link">{{ trick.categorie.name  }}</a>


				</div>

				<div class="card-footer text-muted">
					2 days ago
				</div>
			</div>

		{% endfor %}
	</section>

	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Les meilleurs 2 meileurs auteurs</h4>
			{% for author in bestAuthors %}
				<ul>
					<li>
						<a href="#" class="card-link">{{author[0].username}}</a>
						<span>
							<strong>
								:
								{{author.total}}</strong>
						</span>
					</li>
				</ul>


			{% endfor %}


		</div>
	</div>


{% endblock %}
