{% extends 'base.html.twig' %}

{% block title %}Mes astuces
{% endblock %}

{% block body %}


	<div class="body-wrapper">

		<h1>Mes astuces ✅</h1>


		<section id="wrap_tricks">

			{% for trick in tricks %}

				<div class="card">

					<h3>{{ trick.title }}</h3>
					<p>{{ trick.content }}</p>
					<img src="{{ asset('uploads/tricks/mini/300x300-') ~ trick.featureImage }}" alt="{{ trick.title }}">


					<div class="categories">
						{% for category in trick.categorie  %}
							<p>{{ category.name  }}</p>
						{% endfor %}
					</div>
					<p>{{ trick.user.username }}</p>
				</div>


			{% endfor %}
		</section>

		<section>
			<h3>Les meilleurs 2 meileurs auteurs
			</h3>

			<div>
				{% for author in bestAuthors %}

					<p>{{author[0].username}}
						<span>
							<strong>:
								{{author.total}}</strong>
						</span>
					</p>

				{% endfor %}

			</div>

		</section>

	</div>
{% endblock %}
