{# cette page étend le twig base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}blognote
{% endblock %}

{% block body %}

	<h1>Administration</h1>
	<ul>
		<li><a class="dropdown-item"href="{{ path('app_admin_trick_index') }}">Gestion des astuces</a></li>
		<li><a class="dropdown-item"href="{{ path('app_admin_user_index') }}">Gestion des utilisateurs</a></li>
		<li><a class="dropdown-item"href="{{ path('app_admin_categorie_index') }}">Gestion des catégories</a></li>
		<li><a class="dropdown-item"href="{{ path('app_admin_categorie_index') }}">Gestion des commentaires</a></li>
		<li><a class="dropdown-item"href="{{ path('app_admin_categorie_index') }}">Gestion des mots clés</a></li>
		<li><a class="dropdown-item"href="{{ path('app_admin_categorie_index') }}">Gestion de la notation</a></li>

	</ul>

	{#	{% endif %} #}


{% endblock %}
